<div class='main-container'>

  <div class='content'>

    <h3>
      {{name}}
      -
      {{email}}
      -
      <span>
        {{prefix}}
        {{phone}}
      </span>
    </h3>

    <h3>{{subject}}</h3>

    <p style='font-size: 20px;'>
      {{message}}
    </p>
  </div>

</div>

<style>
  body { margin: 0; direction:rtl; } .main-container { text-align: center;
  font-size: 20px; color: #006d9e; direction: rtl; } .content { width: 100%;
  display: flex; justify-content: center; } .link { font-size: 16px;
  text-decoration: none; border-radius: 8px; border: 2px solid #006d9e;
  font-weight: bold; padding: 5px 15px; }

</style>